* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "RobotoMono";
    src: url("assets/RobotoMono-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900; /* Калі шрыфт падтрымлівае дыяпазон вагі */
    font-style: normal; /* Дадаць italic, калі патрэбна */
}

:root {
    --night-b: #090A0C; 
    --day-w: #FFFEFC;
    --fog-g: #AAA7A7;
}

body {
    font-family: "RobotoMono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--night-b);
    color: var(--day-w);
    overflow: hidden;
}

.welcome-container {
    text-align: center;
    padding: 0 20px; /* Дадаем пэдынг для мабільных экранаў */
}

.greeting-text {
    font-size: 3rem;
    border-right: 0.1em solid var(--day-w); /* Эфект курсора */
    white-space: nowrap; /* Не пераносіць тэкст */
    overflow: hidden; /* Схавае лішні тэкст да з'яўлення */
    display: inline-block;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Мабільная версія */
@media (max-width: 768px) {
    .greeting-text {
        font-size: 2rem; /* Меншы памер тэксту для мабільных */
    }
}

/* Дадатковыя налады для экранаў менш за 480px */
@media (max-width: 480px) {
    .greeting-text {
        font-size: 1.5rem; /* яшчэ меншы памер для маленькіх экранаў */
    }
}

