@font-face {
    font-family: 'RobotoMono';
    src: url('assets/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Калі шрыфт падтрымлівае дыяпазон вагі */
    font-style: normal; /* Дадаць italic, калі патрэбна */
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    font-family: 'RobotoMono', monospace;
}

.login-container {
    display: flex
;
    background-color: transparent;
    padding: 20px;
    width: 300px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-family: 'RobotoMono', monospace;
}

.input-field {
    background-color: black;
    outline: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid whitesmoke;
    border-radius: 0px;
    font-size: 16px;
    color: whitesmoke;
    font-family: 'RobotoMono', monospace;
    
}

.login-button {
    width: 100px;
    padding: 10px;
    background-color: whitesmoke;
    color: black;
    border: none;
    border-radius: 0 ;
    font-size: 16px;
    cursor: pointer;
    font-family: 'RobotoMono', monospace;
}

.login-button:hover {
    background-color: #dc0062;
    color: whitesmoke;
}


.input-field::placeholder {
    color: whitesmoke; /* Колер placeholder */
     /* Неабавязкова, для стылю */
}