@font-face {
    font-family: 'RobotoMono';
    src: url('assets/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Калі шрыфт падтрымлівае дыяпазон вагі */
    font-style: normal; /* Дадаць italic, калі патрэбна */
}

body {
    display: flex;
    justify-content: center;
    
    height: 100vh;
    margin: 0;
    background-color: black; /* Па змаўчанні цёмная тэма */
    font-family: 'RobotoMono', monospace;
    color: whitesmoke; /* Па змаўчанні колер тэксту */
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Светлая тэма */
body.light-theme {
    background-color: white;
    color: black;

}

/* Дадаем адпаведнасць тэмы для ікон */
body.light-theme .icon-bar button svg {
    fill: black; /* Чорны колер для светлай тэмы */
}

body:not(.light-theme) .icon-bar button svg {
    fill: whitesmoke; /* Белы колер для цёмнай тэмы */
}

.chat-container {
    display: flex;
        background: transparent;
        border: none;
        overflow: hidden;
        height: 500px;
        flex-direction: column;
        width: 650px;
        margin-top: 1%;
}

.chat-messages {
    font-family: 'RobotoMono', monospace;
    border-radius: 0px;
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border: 1.5px solid currentColor; /* Колер мяжы залежыць ад тэмы */
    max-height: 350px;
    
    background-color: transparent; /* Фон празрысты */
}

.chat-input {
    margin-top: 5%;
    display: flex;
    padding: 10px;
    background: transparent;
    border: 1.5px solid currentColor; /* Колер мяжы залежыць ад тэмы */
    border-radius: 0px;
    overflow-y: auto; /* паказваць вертыкальны скролбар, калі гэта неабходна */
    overflow-x: hidden;
    
}

.chat-input textarea {
    scrollbar-width: thin;
    flex: 1;
    resize: none;
    padding: 12px;
    border: none;
    border-radius: 0px;
    font-family: 'RobotoMono', monospace;
    font-size: 15px;
    line-height: 20px;
    outline: none;
    background: transparent;
    transition: all 0.3s ease;
    min-height: 40px;
    max-height: 150px;
    color: currentColor; /* Колер тэксту залежыць ад тэмы */
}

.chat-input button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    background: transparent;
    color: currentColor;
    border-radius: 0px;
    border: 1.5px solid currentColor;
    cursor: pointer;
    font-size: 14px;
    font-family: 'RobotoMono', monospace;
    transition: background 0.3s ease;
}



/* Скролбар для паведамленняў */
.chat-messages::-webkit-scrollbar {
    width: 2px;
    height: 10px;
    margin-right: 5px;
}

.chat-messages::-webkit-scrollbar-thumb {
    background: #dc0062;
    border-radius: 5px;
    transition: width 0.2s ease;
}

.chat-messages::-webkit-scrollbar-track {
    background-color: transparent;
    border: none;
}

.chat-messages::-webkit-scrollbar-button {
    background-color: transparent;
    border-radius: 5px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
    width: 8px;
    background-color: #dc0062;
}

.chat-message {
    scrollbar-width: thin; /* Тонкі скролбар */
    scrollbar-color: #dc0062 transparent; /* Колер палоскі і трэка */
}

/* Панэль ікон */
.icon-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    background-color: transparent;
    
    height: 38px;
}

.icon-bar button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 0;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 0%;
}



.icon-bar button svg {
    width: 20px; /* Памер SVG */
    height: 20px;
    fill: currentColor; /* Колер іконкі адпавядае currentColor */
    transition: fill 0.3s ease;
    background-color: transparent; /* Плыўная змена колеру */
}





.chat-message {
    padding: 10px;
    margin: 5px 0;
    background-color: transparent;
    border-radius: 5px;
    color: currentColor;
    font-size: small; /* Колер будзе залежыць ад тэмы */
}

/* Стыль для імя карыстальніка */
.chat-message-username {
    font-weight: bold;
    font-size: x-small;
    margin-bottom: 1px;
    color: currentColor; /* Колер будзе залежаць ад тэмы */
}

.chat-message-time{
    font-size: x-small;
    margin-top: 3px;
    color: gray;
}


button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1.5px solid currentColor;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'RobotoMono', monospace;
  }
  
  button svg {
    width: 24px;
    height: 24px;
    fill: currentColor; /* Іконка выкарыстоўвае currentColor для адаптацыі колеру */
    transition: fill 0.3s ease;
  }
  
  /* Змены колеру для светлай тэмы */
  body.light-theme button svg {
    fill: black; /* Іконка чорная ў светлай тэме */
  }

  /* Змены колеру для цёмнай тэмы */
  body:not(.light-theme) button svg {
    fill: whitesmoke; /* Іконка белая ў цёмнай тэме */
  }
  

  @media (max-width: 768px) {

  
    .chat-container {
        display: flex;
            background: transparent;
            border: none;
            overflow: hidden;
            height: 500px;
            flex-direction: column;
            width: 650px;
            margin-top: 1%;
    }
    
    
    .icon-bar {
        display: flex;
        justify-content: flex-end;
        
        padding-bottom: 5%;
        background-color: transparent;
         /* Колер мяжы залежыць ад тэмы */

    }

    .icon-bar button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        border-radius: 0;
        padding-left: 16px;
        padding-bottom: 8px;
        padding-right: 0%;
        background-color: transparent;
    }
    
    
    .icon-bar button svg {
        width: 40px; /* Памер SVG */
        height: 40px;
        fill: currentColor; /* Колер іконкі адпавядае currentColor */
        transition: fill 0.3s ease; /* Плыўная змена колеру */
    }

    body {
        display: flex;
        justify-content: center;
        
        height: auto;
        padding: 5px;
        background-color: black; /* Па змаўчанні цёмная тэма */
        font-family: 'RobotoMono', monospace;
        color: whitesmoke; /* Па змаўчанні колер тэксту */
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .chat-container {
        display: flex;
        flex-direction: column;
        
        background: transparent;
       
        overflow: hidden;
        height: 550px;
        margin-top: 5%;
    }
}

@media (hover: hover){

    /* Змены для іконкі пры навядзенні */
    body.light-theme .icon-bar button:hover svg {
        fill: #dc0062; /* Зялёны колер пры навядзенні */
    }

    body:not(.light-theme) .icon-bar button:hover svg {
        fill: #dc0062; /* Колер для цёмнай тэмы пры навядзенні */
    }

    
  body.light-theme button:hover svg {
    fill: whitesmoke; /* Іконка зялёная пры навядзенні */
  }
  
  
  
  body:not(.light-theme) button:hover svg {
    fill: whitesmoke; /* Іконка зялёная пры навядзенні */
  }
  
  .chat-input button:hover {
    background: #dc0062;
    transition: background 0.3s ease;
}

}

@media (hover: none){
    /* Змены для іконкі пры навядзенні */
    body.light-theme .icon-bar button:active svg {
        fill: #dc0062; /* Зялёны колер пры навядзенні */
    }

    body:not(.light-theme) .icon-bar button:active svg {
        fill: #dc0062; /* Колер для цёмнай тэмы пры навядзенні */
    }

    
  body.light-theme button:active svg {
    fill: whitesmoke; /* Іконка зялёная пры навядзенні */
  }
  
  
  
  body:not(.light-theme) button:active svg {
    fill: whitesmoke; /* Іконка зялёная пры навядзенні */
  }
  
  .chat-input button:active {
    background: #dc0062;
    transition: background 0.3s ease;
}

}






#chatInput{
    overflow-y: auto;
}
/* Стыль для скролбара ў textarea */
#chatInput::-webkit-scrollbar {
    width: 8px; /* Шырыня скролбара */
    height: 8px; /* Вышыня скролбара */
}

/* Стыль для трэка (фону) скролбара */
#chatInput::-webkit-scrollbar-track {
    background-color: transparent; /* Цэлы трэк празрысты */
}

/* Стыль для "thumb" (палоскі) скролбара */
#chatInput::-webkit-scrollbar-thumb {
    background-color: #dc0062; /* Колер скролбара */
    border-radius: 5px; /* Закругленая форма */
    border: 2px solid #fff; /* Белая мяжа */
    transition: background-color 0.3s ease; /* Пераход для змянення колеру */
}

/* Стыль для "thumb" пры навядзенні */
#chatInput::-webkit-scrollbar-thumb:hover {
    background-color: #9e005c; /* Змяняецца колер на гэты пры навядзенні */
}

/* Схаваць кнопкі скролбара */
#chatInput::-webkit-scrollbar-button {
    display: none;
}

/* Для Firefox */
#chatInput {
    scrollbar-width: thin; /* Тонкі скролбар */
    scrollbar-color: #dc0062 transparent; /* Колер палоскі і трэка */
}
